<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd

In [3]:
# Data Frame from cars.csv
cars = pd.read_csv('../datasets/cars.csv')
cars.head()

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JPN           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True

**The row labels were imported as another column without a name. We can use `index_col` to specify which column in the CSV file should be used as a row label.**

In [4]:
# Data Frame from cars.csv, use the first column as row label
cars = pd.read_csv('../datasets/cars.csv', index_col=0)
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True

We can convert dataframes to CSV with `df.to_csv('path/to/filename.csv')`

In [5]:
cars.to_csv('cars_exported.csv')