<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [4]:
cars = pd.read_csv('cars.csv', index_col=0)
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True

In [5]:
# Selecting a column
cars['country']

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

**The type of each columns in a Panda dataframe is a *Pandas Series*. We can think of this as a 1D array that can be labeled. When you put multiple series together, you get a dataframe.**

In [6]:
type(cars['country'])

pandas.core.series.Series

**If we want to return columns as a Panda dataframe, we need to use double square brackets `[[]]`**

In [8]:
# We can select multiple columns too
cars[['country', 'cars_per_cap']]

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IN           India            18
RU          Russia           200
MOR        Morocco            70
EG           Egypt            45

**To do row selection with pandas, we can use `loc` and `iloc`**
- **`loc`: label-based**
- **`iloc`: index-based**

**These will return pandas series. To get a data frame, we can use 2 pairs of square brackets.**

In [17]:
# Selecting the row for 'US'
cars.loc[['US']]

    cars_per_cap        country  drives_right
US           809  United States          True

**When doing a range selection, the inner square bracket is not needed**

In [25]:
# Selecting from the 2nd row up to the 4th row
cars.iloc[1:4]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
JPN           588      Japan         False
IN             18      India         False

**With `loc` and `iloc`, we can return intersections by specifying both the rows and the columns to return.**

In [24]:
# Selecting the country and the cars_per_cap for US, India, and Morocco
cars.loc[
    ['US', 'IN', 'MOR'], 
    ['country', 'cars_per_cap']
]

           country  cars_per_cap
US   United States           809
IN           India            18
MOR        Morocco            70

**We can also use ranges.**

In [29]:
# Selecting the country and the cars_per_cap for RU to EG
cars.loc[
    'RU':'EG',
    ['country', 'cars_per_cap']
]

     country  cars_per_cap
RU    Russia           200
MOR  Morocco            70
EG     Egypt            45

In [35]:
# Selecting the country and the cars_per_cap for RU to EG
cars.iloc[
    4:7,
    [1, 0]
]

     country  cars_per_cap
RU    Russia           200
MOR  Morocco            70
EG     Egypt            45