<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [2]:
# Data Frame from cars.csv
cars = pd.read_csv('../datasets/cars.csv', index_col=0)
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True

**If we use regular loops, we simply iterate over the column names**

In [3]:
for val in cars:
    print(val)

cars_per_cap
country
drives_right

**To iterate over the rows, we use `.iterrows()` method. This returns each row as a Pandas series type.**

In [4]:
for label, row in cars.iterrows():
    
    print(label)
    print('-' * len(label))
    
    # We can select from the Panda Series
    print('country:', row['country'], '/ cars_per_cap:', row['cars_per_cap'], '/ drives_right:', row['drives_right'])
    print()

US
--
country: United States / cars_per_cap: 809 / drives_right: True

AUS
---
country: Australia / cars_per_cap: 731 / drives_right: False

JPN
---
country: Japan / cars_per_cap: 588 / drives_right: False

IN
--
country: India / cars_per_cap: 18 / drives_right: False

RU
--
country: Russia / cars_per_cap: 200 / drives_right: True

MOR
---
country: Morocco / cars_per_cap: 70 / drives_right: True

EG
--
country: Egypt / cars_per_cap: 45 / drives_right: True

**We can also use loop to add a new column and its calculated data**

In [5]:
# Code for loop that adds COUNTRY column (uppercase version)
for label, row in cars.iterrows():
    cars.loc[label, 'COUNTRY'] = row['country'].upper()
    
# Looking
cars.head()

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JPN           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA

**However, creating a new column with iteration is not efficient. Instead, it is better to use `apply(fn)`**

In [6]:
# Applying a function to create a new column
cars['drives_left'] = cars['drives_right'].apply(lambda x: not x)

# Looking
cars.head()

     cars_per_cap        country  drives_right        COUNTRY  drives_left
US            809  United States          True  UNITED STATES        False
AUS           731      Australia         False      AUSTRALIA         True
JPN           588          Japan         False          JAPAN         True
IN             18          India         False          INDIA         True
RU            200         Russia          True         RUSSIA        False