<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Mean()" data-toc-modified-id="Mean()-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><code>Mean()</code></a></span></li><li><span><a href="#Median()" data-toc-modified-id="Median()-2"><span class="toc-item-num">2&nbsp;&nbsp;</span><code>Median()</code></a></span></li><li><span><a href="#Mode()" data-toc-modified-id="Mode()-3"><span class="toc-item-num">3&nbsp;&nbsp;</span><code>Mode()</code></a></span></li><li><span><a href="#Min()-and-Max()" data-toc-modified-id="Min()-and-Max()-4"><span class="toc-item-num">4&nbsp;&nbsp;</span><code>Min()</code> and <code>Max()</code></a></span></li><li><span><a href="#Variance-and-Standard-Deviation" data-toc-modified-id="Variance-and-Standard-Deviation-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Variance and Standard Deviation</a></span></li><li><span><a href="#Sum()" data-toc-modified-id="Sum()-6"><span class="toc-item-num">6&nbsp;&nbsp;</span><code>Sum()</code></a></span></li><li><span><a href="#Quantiles-and-IQR" data-toc-modified-id="Quantiles-and-IQR-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Quantiles and IQR</a></span></li><li><span><a href="#Cumulative-Sum" data-toc-modified-id="Cumulative-Sum-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Cumulative Sum</a></span></li><li><span><a href="#Cumulative-Max-and-Min" data-toc-modified-id="Cumulative-Max-and-Min-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Cumulative Max and Min</a></span></li><li><span><a href="#Cumulative-Product" data-toc-modified-id="Cumulative-Product-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Cumulative Product</a></span></li><li><span><a href="#Custom-Statistics-With-.agg()" data-toc-modified-id="Custom-Statistics-With-.agg()-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Custom Statistics With <code>.agg()</code></a></span><ul class="toc-item"><li><span><a href="#Get-multiple-summary-statistics-at-once" data-toc-modified-id="Get-multiple-summary-statistics-at-once-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>Get multiple summary statistics at once</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv('./cars.csv', index_col=0)
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True

## `Mean()`

In [3]:
cars['cars_per_cap'].mean()

351.57142857142856

## `Median()`

In [4]:
cars['cars_per_cap'].median()

200.0

## `Mode()`

In [5]:
cars[['cars_per_cap']].mode()

   cars_per_cap
0            18
1            45
2            70
3           200
4           588
5           731
6           809

## `Min()` and `Max()`

In [6]:
cars['cars_per_cap'].min()

18

In [7]:
cars['cars_per_cap'].max()

809

## Variance and Standard Deviation

In [8]:
cars['cars_per_cap'].var()

119436.2857142857

In [9]:
cars['cars_per_cap'].std()

345.59555222005633

## `Sum()`

In [10]:
cars['cars_per_cap'].sum()

2461

## Quantiles and IQR

In [11]:
cars['cars_per_cap'].quantile(0.25)

57.5

In [12]:
cars['cars_per_cap'].quantile(0.5)

200.0

In [13]:
cars['cars_per_cap'].quantile(0.75)

659.5

## Cumulative Sum

In [14]:
cars[['cars_per_cap']].cumsum()

     cars_per_cap
US            809
AUS          1540
JPN          2128
IN           2146
RU           2346
MOR          2416
EG           2461

## Cumulative Max and Min

In [15]:
# Iteratively find the max
cars[['cars_per_cap']].cummax()

     cars_per_cap
US            809
AUS           809
JPN           809
IN            809
RU            809
MOR           809
EG            809

In [16]:
# Iteratively find the min
cars[['cars_per_cap']].cummin()

     cars_per_cap
US            809
AUS           731
JPN           588
IN             18
RU             18
MOR            18
EG             18

## Cumulative Product

In [17]:
cars[['cars_per_cap']].cumprod()

         cars_per_cap
US                809
AUS            591379
JPN         347730852
IN         6259155336
RU      1251831067200
MOR    87628174704000
EG   3943267861680000

## Custom Statistics With `.agg()`

In [18]:
def iqr(column):
    """Returns the Inter-Quartile Range of the distribution."""
    return column.quantile(0.75) - column.quantile(0.25)

In [19]:
# Using .agg() with a custom function
cars['cars_per_cap'].agg(iqr)

602.0

- `.agg()` can also be used on more than one column: `cars[['cars_per_cap', 'another_column']].agg(func)`

### Get multiple summary statistics at once

In [20]:
cars[['cars_per_cap']].agg([np.mean, np.median, np.std])

        cars_per_cap
mean      351.571429
median    200.000000
std       345.595552