<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

We have some pre-defined lists of data

In [2]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

**We can create a Pandas data frame from a dictionary.**

In [3]:
# Create dictionary temp_dict with three key:value pairs: temp_dict
dict_of_lists = {
    'country': names,
    'drives_right': dr,
    'cars_per_cap': cpc
}

**Use `pd.DataFrame()` to create the data frame from the dictionary of list. The dataframe is built by columns.**

In [4]:
# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(dict_of_lists)
cars.head()

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200

**By default, the row label is just the index. To change this, we can specify `cars.index`.**

In [5]:
# Specifying the row labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
cars.index = row_labels
cars.head()

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200

**What if we instead have a list of dictionaries? The dataframe is built by rows**

In [6]:
list_of_dicts = [{ 'country_name': n, 'drives_right': d, 'cars_per_cap': c } for n, d, c in zip(names, dr, cpc)]
list_of_dicts

[{'country_name': 'United States', 'drives_right': True, 'cars_per_cap': 809},
 {'country_name': 'Australia', 'drives_right': False, 'cars_per_cap': 731},
 {'country_name': 'Japan', 'drives_right': False, 'cars_per_cap': 588},
 {'country_name': 'India', 'drives_right': False, 'cars_per_cap': 18},
 {'country_name': 'Russia', 'drives_right': True, 'cars_per_cap': 200},
 {'country_name': 'Morocco', 'drives_right': True, 'cars_per_cap': 70},
 {'country_name': 'Egypt', 'drives_right': True, 'cars_per_cap': 45}]

**Use `pd.DataFrame()` to create the data frame from the dictionary of list. The dataframe is built by rows.**

In [7]:
# Build a DataFrame cars from my_dict: cars
countries = pd.DataFrame(list_of_dicts)
countries.head()

    country_name  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200