<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('cars.csv', index_col=0)

In [3]:
# Showing the head
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True

In [4]:
# Showing the columns info
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, US to EG
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cars_per_cap  7 non-null      int64
 1   country       7 non-null      object
 2   drives_right  7 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 175.0+ bytes

In [5]:
# Showing the shape of the dataframe
cars.shape

(7, 3)

In [6]:
# Get some summary statistics
cars.describe()

       cars_per_cap
count      7.000000
mean     351.571429
std      345.595552
min       18.000000
25%       57.500000
50%      200.000000
75%      659.500000
max      809.000000

**Pandas DataFrames are made of 3 components:**
- `.values`: 2D arrays of the values
- `.columns`: List of the column names
- `.index`: List of the row indexes

In [7]:
# All the rows
print(cars.values)

[[809 'United States' True]
 [731 'Australia' False]
 [588 'Japan' False]
 [18 'India' False]
 [200 'Russia' True]
 [70 'Morocco' True]
 [45 'Egypt' True]]

In [8]:
# Labels for rows
print(cars.index)

Index(['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG'], dtype='object')

In [9]:
# Labels of columns
print(cars.columns)

Index(['cars_per_cap', 'country', 'drives_right'], dtype='object')