<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Subsetting-one-column" data-toc-modified-id="Subsetting-one-column-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Subsetting one column</a></span></li><li><span><a href="#Subsetting-multiple-columns" data-toc-modified-id="Subsetting-multiple-columns-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Subsetting multiple columns</a></span><ul class="toc-item"><li><span><a href="#It-is-the-same-as-using-a-list-of-columns" data-toc-modified-id="It-is-the-same-as-using-a-list-of-columns-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>It is the same as using a list of columns</a></span></li></ul></li><li><span><a href="#Subsetting-rows:-Use-conditions" data-toc-modified-id="Subsetting-rows:-Use-conditions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Subsetting rows: Use conditions</a></span><ul class="toc-item"><li><span><a href="#We-can-also-do-that-in-one-line" data-toc-modified-id="We-can-also-do-that-in-one-line-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>We can also do that in one line</a></span></li><li><span><a href="#For-multiple-conditions,-use-&amp;-or-|" data-toc-modified-id="For-multiple-conditions,-use-&amp;-or-|-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>For multiple conditions, use <code>&amp;</code> or <code>|</code></a></span></li></ul></li><li><span><a href="#Conditions-with-multiple-possible-values:-.isin()" data-toc-modified-id="Conditions-with-multiple-possible-values:-.isin()-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Conditions with multiple possible values: <code>.isin()</code></a></span></li></ul></div>

In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('cars.csv', index_col=0)
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True

## Subsetting one column

In [3]:
cars[["country"]]

           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

## Subsetting multiple columns

In [4]:
cars[["country", "drives_right"]]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

### It is the same as using a list of columns

In [5]:
columns_to_subset = ["country", "drives_right"]
cars[columns_to_subset]

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

## Subsetting rows: Use conditions

In [6]:
condition = cars["cars_per_cap"] > 500
cars[condition]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False

### We can also do that in one line

In [7]:
cars[cars["cars_per_cap"] > 500]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False

### For multiple conditions, use `&` or `|`

In [8]:
conditions = (cars["cars_per_cap"] > 500) & (cars["drives_right"] == False)
cars[conditions]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
JPN           588      Japan         False

In [9]:
# We can also do that in one line
cars[(cars["cars_per_cap"] > 500) | (cars["drives_right"] == False)]

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False

## Conditions with multiple possible values: `.isin()`

In [10]:
condition = cars["country"].isin(["Australia", "Japan", "Russia"])
cars[condition]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
JPN           588      Japan         False
RU            200     Russia          True

In [11]:
# Or in one line
cars[cars["country"].isin(["Australia", "Japan", "Russia"])]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
JPN           588      Japan         False
RU            200     Russia          True