<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Adding-a-new-column" data-toc-modified-id="Adding-a-new-column-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Adding a new column</a></span></li></ul></div>

In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('cars.csv', index_col=0)
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True

Feature engineering allows us to transform/derive from the existing data into a different format

## Adding a new column

In [3]:
# Function for extracting the country initials
def extract_country_initials(st):
    if len(st.split()) == 1:
        return st[:3].upper()
    else:
        initial = ""
        for word in st.split():
            initial += word[0]
        return initial.upper()

In [4]:
# Adding a country name length columns: Applying transformation function
cars["country_initials"] = cars["country"].str[:].apply(extract_country_initials)
cars

     cars_per_cap        country  drives_right country_initials
US            809  United States          True               US
AUS           731      Australia         False              AUS
JPN           588          Japan         False              JAP
IN             18          India         False              IND
RU            200         Russia          True              RUS
MOR            70        Morocco          True              MOR
EG             45          Egypt          True              EGY