<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Sort-the-index-before-you-start-slicing" data-toc-modified-id="Sort-the-index-before-you-start-slicing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Sort the index before you start slicing</a></span></li><li><span><a href="#Slicing-with-the-outer-index-level" data-toc-modified-id="Slicing-with-the-outer-index-level-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Slicing with the outer index level</a></span></li><li><span><a href="#Slicing-with-the-inner-index-level" data-toc-modified-id="Slicing-with-the-inner-index-level-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Slicing with the inner index level</a></span></li><li><span><a href="#Slicing-over-columns" data-toc-modified-id="Slicing-over-columns-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Slicing over columns</a></span></li><li><span><a href="#Slicing-by-dates" data-toc-modified-id="Slicing-by-dates-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Slicing by dates</a></span></li><li><span><a href="#Slicing-by-row-number-and-column-number:-iloc" data-toc-modified-id="Slicing-by-row-number-and-column-number:-iloc-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Slicing by row number and column number: <code>iloc</code></a></span></li></ul></div>

In [9]:
import pandas as pd

In [10]:
# Data Frame from cars.csv
cars = pd.read_csv('../datasets/cars.csv')
cars.rename(columns={'Unnamed: 0':'idx'}, inplace=True)
cars

   idx  cars_per_cap        country  drives_right
0   US           809  United States          True
1  AUS           731      Australia         False
2  JPN           588          Japan         False
3   IN            18          India         False
4   RU           200         Russia          True
5  MOR            70        Morocco          True
6   EG            45          Egypt          True

## Sort the index before you start slicing

<span class="mark">**You can only slice by index when the index is sorted**</span>

In [11]:
# Assign custom indexes and sort
cars.set_index(['idx', 'cars_per_cap'], drop=True, inplace=True)
cars = cars.sort_index() # Re-assign to sort change persist

## Slicing with the outer index level

In [12]:
cars.loc['IN':'MOR']

                  country  drives_right
idx cars_per_cap
IN  18              India         False
JPN 588             Japan         False
MOR 70            Morocco          True

## Slicing with the inner index level

**Note**: You cannot slice directly with the inner index level. You have to make it work with the outer level.

In [13]:
cars.loc[('IN', 18):('MOR', 200)]

                  country  drives_right
idx cars_per_cap
IN  18              India         False
JPN 588             Japan         False
MOR 70            Morocco          True

## Slicing over columns

We can also slice over column with `loc[]` in the format: `loc[row_start:row_end, col_start:col_end]`

In [14]:
cars.loc[('IN', 18):('MOR', 200), :"country"]

                  country
idx cars_per_cap
IN  18              India
JPN 588             Japan
MOR 70            Morocco

## Slicing by dates

- We could also set dates to be index: `cars.set_index("release_date").sort_index()`
- We can slice in the same way as before: `cars.loc["2011-06-01":"2012-05-31"]`
- When using dates as index, we can use date-parts only to slice on: `cars.loc["2014":"2016"]`
  - **It is recommended to always write out the complete date when not working with `loc`**
  - **The important thing to remember is to keep your dates in ISO 8601 format: `yyyy-mm-dd`**
  - You can access the components of a date (year, month and day) using code of the form `dataframe["column"].dt.component`: `df["date"].dt.year`

## Slicing by row number and column number: `iloc`

If we don't want to slice based on custom index, we can use the row and column numbers only to slice on using `iloc`
- **`iloc` format: `df.iloc[row_start:row_end, col_start:col_end]`**

In [15]:
# Resetting
cars = pd.read_csv('../datasets/cars.csv')
cars.rename(columns={'Unnamed: 0':'idx'}, inplace=True)
cars

   idx  cars_per_cap        country  drives_right
0   US           809  United States          True
1  AUS           731      Australia         False
2  JPN           588          Japan         False
3   IN            18          India         False
4   RU           200         Russia          True
5  MOR            70        Morocco          True
6   EG            45          Egypt          True

In [16]:
cars.iloc[1:4, 2:]

     country  drives_right
1  Australia         False
2      Japan         False
3      India         False

**Slicing is particularly useful for time-series data**